<section class="conteiner-categories">
  @if(!categories){
    <app-title title="Buscando Categorias"></app-title>
  }
  @defer (when categoriesError === false){

    @if(modalopencategory){
      <dialog [open] = "openModal" class="conteiner-categories__dialog">
        <app-news-categories
        [changeCategoryNews]="changeCategoryNews"
        [nameCategory]="nameCategory"
        [idCategory]="idCategory"
        (modalClose) = "closeModal($event)"/>
      </dialog>
    }

    <app-title [title]="responseCategories?.message"></app-title>
    <div class="conteiner-categories__table">
        <table>
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Slug
                    </th>
                    <th>
                        Acciones
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (responseCategories?.error === false) {
                    @for (category of categories; track categories.id) {
                        <tr >
                            <td>
                                {{category.name}}
                            </td>
                            <td>
                                {{category.slug}}
                            </td>
                            <td>
                                <button class="btn btn-warning"
                                (click)="createCategoryNews(false,category.name,category.id)" >M</button>
                                <button class="btn btn-danger" (click)="categoryDelete(category.id)" >B</button>
                            </td>
                        </tr>
                    }@empty {
                        <tr>
                            <td colspan="3">
                                <p>No hay noticias</p>
                            </td>
                        </tr>
                    }
                }@else {
                    <tr>
                        <td colspan="3">
                            <p>Error en la petición</p>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="conteiner-categories__pagination">
        <div class="container-pagination__links">
            <a>anterior</a>
            <a>1</a>
            <a>siguiente</a>
        </div>
        <div class="container-pagination__page">
            <p>5/6</p>
        </div>
    </div>
    <div class="conteiner-categories__button">
        <button class="btn"
        (click)="createCategoryNews(true)"
        >Crear</button>
    </div>
  }@placeholder {
    @if (errorCategoriesNews) {

      <p class="alert alert-error">Error en la petición</p>
  }@else {

      <app-loading class="table-loading" />
  }
  }
</section>
