@use 'variables/typography' as font; //cuando pongo el as vsc me trae las variables de ese archivo
@use 'variables/colors' as color;
@use 'variables/button.scss' as button;
@use 'variables/alerts.scss' as alert;

*{
    font-family: font.$main-family-light;
    box-sizing: border-box;
    min-width: 0;
}

body{
    min-height: 100dvh;
}

h1,h2,h3,h4,h5,h6{
    text-wrap: balance;
}
p{
    text-wrap: pretty;
}
