$red-institutional: #f83d5c;
$yellow-institutional: #ff9c03;
$blue-institutional: #47cbef;

$red-institutional-dark: #d12a47;
$yellow-institutional-dark: #e68a00;
$blue-institutional-dark: #2e9cb5;

$red-institutional-light: #fbe380;
$yellow-institutional-light: #fff2e6;
$blue-institutional-light: #e6f7fb;


$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;

$success-dark: #1e7e34;
$danger-dark: #c82333;
$warning-dark: #d39e00;

$success-light: #96e9aa;
$danger-light: #f4a9b0;
$warning-light: #fbe380;

$blue-nav: #1448b8;
$blue-nav-dark: #0d2a6b;
$blue-nav-light: #2777ef;

$red-nav: #ea4335;
$red-nav-dark: #b31d15;
$red-nav-light: #f44336;

