$red-institutional: #f83d5c;
$yellow-institutional: #ff9c03;
$blue-institutional: #47cbef;

$red-institutional-dark: #d12a47;
$yellow-institutional-dark: #e68a00;
$blue-institutional-dark: #2e9cb5;

$red-institutional-light: #fde8ed;
$yellow-institutional-light: #fff2e6;
$blue-institutional-light: #e6f7fb;


$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;

$success-dark: #1e7e34;
$danger-dark: #c82333;
$warning-dark: #d39e00;

$success-light: #d4edda;
$danger-light: #f8d7da;
$warning-light: #fff3cd;

